affine==2.4.0
click-plugins==1.1.1
cligj==0.7.2
GDAL==3.10.0
geopandas==1.0.1
joblib==1.4.2
matplotlib==3.10.0
matplotlib-scalebar==0.8.1
munkres==1.1.4
nbimporter==0.3.4
pandas==2.2.3
pyogrio==0.10.0
pyproj==3.7.0
PyQt5==5.15.9
PyQtWebEngine==5.15.4
PySide6==6.8.1
pywin32==307
rasterio==1.4.3
scikit-learn==1.6.0
scipy==1.15.0
shapely==2.0.6
shiboken6==6.8.1
threadpoolctl==3.5.0
tzdata==2024.2
zstandard==0.23.0
